# db
*.sqlite

# mypy
.mypy_cache/

data/

# vs code
# .vscode/ # shared settings for codespace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
.python-version

# Environments
.env
.venv
env/
# add your env file here
